.product-card{
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  max-height: 400px;
  
  img{
    max-height: 200px;
    border-radius: 18px;
    width: 100%;
    object-fit: cover;
  }
  
}

.body{
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  p{
    height: auto;
    overflow-y: hidden;
    color: rgba(137, 137, 137, 1);
  }
  button{
    background-color: rgba(240, 90, 34, 1);
    border: none;
    border-radius: 5px;
    color: white;
  }
}

